
footer#footerMain
	.footerWrapper
		.container
			.row
				.col-md-3
					.left-wrapper
						.logo
						.copyright
							p 2017 Retro Güvenlik Sistemleri, Tüm Hakları Saklıdır.
						.social
							.facebook
								a(href="#")
									i.fa.fa-facebook.fa-fw
							.twitter
								a(href="#")
									i.fa.fa-twitter.fa-fw
							.linkedin
								a(href="#")
									i.fa.fa-linkedin.fa-fw
							.vimeo
								a(href="#")
									i.fa.fa-vimeo.fa-fw
				.col-md-6
					.row
						.middle-wrapper
							.col-md-4
									ul
										li.list-head KURUMSAL
										li
											a(href="") Hakkımızda
										li
											a(href="") Vizyon & Misyon
										li
											a(href="") Sosyal Sorumluluklar
										li
											a(href="") İndirme Merkezi
										li
											a(href="") Kariyer
										li
											a(href="") İletişim
							.col-md-4
									ul
										li.list-head ÜRÜNLER
										li
											a(href="") AHD Ürünler
										li
											a(href="") IP Ürünler
										li
											a(href="") XVR Ürünler
										li
											a(href="") HD-CVI Ürünler
										li
											a(href="") Speed Dome Ürünler
										li
											a(href="") Box Ürünler
							.col-md-4
									ul
										li.list-head BLOG
										li
											a(href="") Kategoriler
										li
											a(href="") Son Açılan Konular
										li
											a(href="") En Çok Görüntülenenler
										li
											a(href="") En Çok Yorum Yapılanlar
										li
											a(href="") Yazarlar
				.col-md-3
					.right-wrapper
						li.list-head E-Mailing Bülteni
						p.mailing-para Güncel indirim ve kampanyalardan haberdar olmak için mail bültenine kayıt olmayı 	unutmayınız.
						input(type='text' placeholder='Mail adresinizi giriniz...')
						input(type='submit' value='')
