//- Contains style link
link(rel="stylesheet", href="assets/css/include.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
link(rel="stylesheet", href="vendor/fontawesome/css/font-awesome.min.css")
link(href='https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css', rel='stylesheet')
script(src='https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js')

section.header
	section.header-ust
		.container
			.row
				.col-md-12
					ul
						li
							a(href="#") DESTEK
						li
							a(href="#") BASIN
						li
							a(href="#") KARİYER
						li
							a(href="#") GİZLİLİK SÖZLEŞMESİ
						li
							a(href="#") GÜVENLİK POLİTİKASI
	.container
		.row
			.col-md-4
				.logo
					a(href="#")

			.col-md-8
				nav.web-only
					ul
						li
							a(href="#") KURUMSAL
						li
							a(href="#") ÜRÜNLER
						li
							a(href="#") BLOG
						li
							a(href="#") İLETİŞİM

		.row
			section.promo
				.col-md-12
					H5 GÜVENLİĞİNİZ İÇİN HERŞEY
				.col-md-12
					h3 BAŞARILI ÇÖZÜMLER,
					h3 MUTLU BAYİLER.
				.col-md-12
					button.explore-items
						a(href="#") ÜRÜNLERE GÖZAT
				.col-md-12
					button.retro-bayi
						a(href="#") RETROBAYİ