section.progressive
	.container-fluid
		.row
			.col-md-3
				.item.bolum1
					h5 1.BÖLÜM
					H4 GİRİŞ
			.col-md-3
				.item.bolum2
					H5 2.BÖLÜM
					H4 RETRO GÜVENLİK
			.col-md-3
				.item.bolum3
					H5 3.BÖLÜM
					H4 SATIN ALMA SÜRECİ
			.col-md-3
				.item.bolum4
					H5 4.BÖLÜM
					H4 GÜVENLİK VE KARGO

section.camera-specs
	.container
		.row
			.specs-container
				.col-md-12
					.camera
					.headtitle IP KAMERA
					.title Ödüllü Tasarım,
					.title Yüksek Performans
					span.arrow-right-grey
						a(href="#") AYDIN GÜNDEĞER
					span.mikrofon
					span.odul-icon
					.primary-text SES KAYIT, ÖDÜLLÜ TASARIM
					.primary-paragraph  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore ipsa 	obcaecati molestias, quidem porro voluptatem cupiditate excepturi illum quas eius sequi suscipit.

section.pdks-services
	.container
		.row
			.headtitle GEÇİŞ KONTROL SİSTEMLERİ
			.title Retro alanında uzman
			.title kadrosuyla her zaman yanınızda.
			p Ofisler, evler ve yüksek güvenlik gerektirecek yerlerde birinci tercihiniz biz olmaktan gurur duyuyoruz.
			button.explore-items
				a(href="#0") ÜRÜNLERE GÖZAT
			.icons

section.mutlubayiler
	.items
	.items
		.wrapper
		.headtitle MUTLU BAYİLER
		h3 RETRO İLE GÜVENDEYİZ !
		h6 RETRO'YU SEÇENLER

section.xvr-teknolojisi
	.container
		.row
			.col-md-8
				.wrapper
					.headtitle XVR TEKNOLOJİSİ
					.title İHTİYACINIZ OLAN HERŞEY TEK KAMERADA!
					a.right-arrow-blue(href="#") Retro
					.kolaj
						
			.col-md-4
				.video-wrapper
					.video-title TANITIM VİDEOSU
					.video-thumbnails

section.exclusive-products
	.container
		.exclusive-wrapper
			.row
				.col-md-12
					.title-wrapper
						h6 EN ÇOK SEÇİLENLER ÖZEL SETİ
						h3 İhtiyacınıza Uygun Setler
			.row
				.item-wrapper
					.col-md-4
						.item
						.discount %20 İNDİRİMLİ
						.title 2 Megapiksel AHD Set
						.price 190$

					.col-md-4
						.item
						.discount %20 İNDİRİMLİ
						.title 4 Megapiksel HD-CVI Set
						.price 175$

					.col-md-4
						.item
						.discount %20 İNDİRİMLİ
						.title 12 Megapiksel XVR Set
						.price 1299$
			.row
				.btn-wrapper
					button
						a(href="#") DEVAMINI GÖR


section.house-security
	.container
		.row
			.content-box
				h6 7/24 GÜVENLİK
				h3 Siz tatildeyken eviniz bizim gözetimimiz altında.


section.twitter
	.container
		.row
			.col-md-12
				.twitter-wrapper
					.icons

					.headtitle RETRO GÜVENLİK TWITTER

					.content ISAF fuarın da Retro Güvenlik Sistemleri olarak yerimizi alıyoruz gelişmeleri ve güncel konuları öğrenmek 	için takip etmeyi unutmayınız! :)
	
					.author @RetroGuvenlik
					.time 1 Haziran

section.masonry-layout
	.masonry-wrapper
		.masonry-items
			h6 DAHUA KAMERA
			h4 EVİNİ TAKİP ET, EVİNDEN UZAKTA
		.masonry-items
			h6 ACCESS KONTROL SİSTEMLERİ
			h4 HERŞEYİN KONTROLÜ SENİN ELİNDE!
		.masonry-items
			h6 RETRO YAZILIM
			h4 RETRO İLE HERŞEY DAHA KOLAY!
		.masonry-items
			h6 ALARM VE YANGIN KORUMA SİSTEMLERİ
			h4 DAHA FAZLASINI BİL, DAHA AZ ENDİŞELEN