main#mainKurumsal
	section.breadcrumb
		.wrapper-breadcrumb
			.container
				.row
					.col-md-6
						h6 ŞİRKET PROFİLİ
					
					.col-md-6
						ul
							li
								a(href="#") Anasayfa
							li
								a(href="#") Kurumsal
							li
								a.aktif(href="#", data-color) Şirket Profili
	
	section.coverSection
		.coverIcon
			i.fa.fa-fw.fa-users
		.coverH3
			h3 ŞİRKET PROFİLİ
		.coverBlur
			h3.coverBlur ŞİRKET PROFİLİ

	section.sirketprofili
		.sirketprofili-icon
			.sirketproili-wrapper
				.container
					.row
						.col-md-6						
							h3 Hakkımızda

							p 1995 yılında kurulan Goldnet Bilişim Teknolojileri üretim, satış, lojistik ve diğer ana faaliyetlerini Çorlu’da yer alan lokasyonlar da yürütmektedir.

							| Kamera ve Kayıt Cihazı ve her tip güvenlik ürünlerini kendi bünyesinde üreterek geniş bir ürün yelpazesine
							| ve güvenlik sektöründe aktif bir rol oynamaktadır. Ulusal ve uluslararası standartlarına göre üretine ürün-
							| lerin yanı sıra, özel müşteri şartnameleri ve talepleri doğrutulsunda da üretim yapmaktadır.

							| Kurulduğu tarihten bu yana kaliteden ödün vermeyen, gelişime açık ve müşteri odakı yaklaşımı ile çözüm
							| ortakları için katma değer yaratan güvenlik ürünleri üreticileri arasında yer alan Goldnet Bilişim Teknolojileri
							| hizmet vermektedir.